<div #panel *ngIf=opt class="container">
    <app-menu></app-menu>
    <div class="button">
        <a (click)="changeOpt()" class="btn">Stwórz swoją własną pizzę</a>
    </div>
</div>

<div #panel *ngIf=!opt class="container">
    <h2>Stwórz swoją własną pizzę</h2>
    <form [formGroup]="selectedPizza" (ngSubmit)="onSubmit()">
        <div *ngFor="let row of getRows('dough')">
            <div><h3 [ngStyle]="{'visibility': row===0 ? 'visible' : 'hidden'}">Wybierz ciasto: </h3></div>
            <div class="description">
                <div *ngFor="let dough of getItemsFours('dough', row)">
                    <input type="radio" value="{{dough.item}}" formControlName="selectedDough" (ngModelChange)="doughChange($event)" id="{{dough.item}}">
                    <label for="{{dough.item}}">
                        <img src={{dough.photo}} alt="{{dough.item}}">
                        <p>{{dough.item}}</p>
                    </label>
                </div>
            </div>
        </div>
        <div *ngFor="let row of getRows('sauce')">
            <div><h3 [ngStyle]="{'visibility': row===0 ? 'visible' : 'hidden'}">Wybierz sos: </h3></div>
            <div class="description">
                <div *ngFor="let sauce of getItemsFours('sauce', row)">
                    <input type="radio" value="{{sauce.item}}" formControlName="selectedSauce" (ngModelChange)="doughChange($event)" id="{{sauce.item}}">
                    <label for="{{sauce.item}}">
                        <img src={{sauce.photo}} alt="{{sauce.item}}">
                        <p>{{sauce.item}}</p>
                    </label>
                </div>
            </div>
        </div>
        <div *ngFor="let row of getRows('ingredients')">
            <div><h3 [ngStyle]="{'visibility': row===0 ? 'visible' : 'hidden'}">Wybierz składniki: </h3></div>
            <div class="description">
                <div *ngFor="let ingredients of getItemsFours('ingredients', row)">
                    <input type="checkbox" value="{{ingredients.item}}" (change)="ingrChange($event)" id="{{ingredients.item}}">
                    <label for="{{ingredients.item}}">
                        <img src={{ingredients.photo}} alt="{{ingredients.item}}">
                        <p>{{ingredients.item}}</p>
                    </label>
                </div>
            </div>
        </div>

        <div *ngIf="result" class="result"> <!-- style można usunąć-->
            <table>
                <tr *ngFor="let i of selected; let vis=index">
                  <td *ngIf="vis === 0" [attr.rowspan]="selected.length"><h3>Wynik: </h3></td>
                  <td><p>{{i.item}}: {{i.price}}</p></td>
                </tr>
            </table>
        </div>

        <div class="button" style="float:left">
            <button (click)="onSubmit()" type="submit" class="btn" style="float:right; width:334px">Złóż zamówienie</button>
        </div>
    </form>

    <div class="button">
        <a (click)="changeOpt()" class="btn">Wybierz pizzę z menu</a>
    </div>
    
</div>