<div *ngIf=!opt class="container">
    <a (click)="changeOpt()" class="btn">Stwórz swoją własną pizzę</a>
    <app-menu></app-menu>
</div>

<div  *ngIf=opt class="container">
    <a (click)="changeOpt()" class="btn">Wybierz z menu</a>
    <h2>Stwórz swoją własną pizzę</h2>
    <div>
        <h3>Wybierz ciasto: </h3>
        <ul>
            <!-- generating three items in one line -->
            <ul *ngFor="let four of getItemsFours('dough')" class="description">
                <li *ngFor="let dough of four"> 
                    <img src={{dough.photo}} alt="{{dough.item}}">
                    <p>{{dough.item}}</p>
                </li>
            </ul>
        </ul>
    </div>
    <div>
        <h3>Wybierz sos: </h3>
        <ul>
            <ul *ngFor="let four of getItemsFours('sauce')" class="description">
                <li *ngFor="let sauce of four"> 
                    <img src={{sauce.photo}} alt="{{sauce.item}}">
                    <p>{{sauce.item}}</p>
                </li>
            </ul>
        </ul>
    </div>
    <div>
        <h3>Wybierz składniki: </h3>
        <ul>
            <ul *ngFor="let four of getItemsFours('ingredients'); let i = index" class="description">
                <li *ngFor="let ingr of four"> 
                    <img src={{ingr.photo}} alt="{{ingr.item}}">
                    <p>{{ingr.item}}</p>
                </li>
            </ul>
        </ul>
    </div>
</div>
