h3, li, p {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 30px;
	font-style: normal;
	font-weight: 600;
	text-align: justify;
	line-height: 1.5em;
}

ul li {
    list-style-type: none;
}
/* 
ul {
    margin-left: 0;
    padding-left: 0;
} */

.description {
	display: flex;
	justify-content: space-between;
    margin-top: 100px;
}

.description img {
    margin-left: 40px;
}

.info {
    float:right;
    margin-right: 40px;
}

.description li, p {
    font-size: 18px;
    font-weight: 550;
}

.desc-left-right {
	width: 600px;
}

img {
    width: 50%;
    object-fit: cover;
    border-radius: 50%;
}

input {
    visibility: hidden;
}

label {
    cursor: pointer;
    display: inline-block;
}
  
input:checked + label img {
    box-shadow: 0 20px 40px rgba(0,0,0,0.3);
	transform: scale(1.1);
    padding: 2px;
    border: 2px solid red;
}

input:checked + label p {
    margin-top: 10%;
    margin-left: 15%;
	transform: scale(1.3);
}
input:checked + label li {
    margin-top: 10%;
    margin-left: 15%;
	transform: scale(1.3);
}
input:checked + label h3 {
    margin-top: 10%;
    margin-left: 15%;
	transform: scale(1.3);
}

.btn {
    background: #fff;
	display: block;
	font-size: 17px;
	text-align: center;
	letter-spacing: 0.1em;
	padding: 17px 37px;
    margin: auto;
	margin-top: 60px;
	border: 1px solid #000;
	width: 334px;
	transition: all 0.5s ease;
}

.btn:hover {
	background: #000;
    color: #fff;
}

.conditionButton {
    width: 45%;
    float: left;
    margin-right: 5%;
}

.conditionButton button {
    float:right;
}