    
<app-selection></app-selection>

<!--about-->
<section id="about" class="about">
    <div class="container">
        <h2>Ciao!</h2>
        <div class="description">
            <div class="desc-left">
                <p>
                    Pizzę wypiekamy według tradycyjnej włoskiej technologii - w prawdziwym piecu opalanym drewnem!
                    Technologia ta jest unikalna na terytorium Rzeczypospolitej Polskiej.
                </p>
            </div>
            <div class="desc-right">
                <p>
                    Robimy pizzę z produktów wysokiej jakości, głównie włoskich.
                    Pizza to sposób na małą gastronomiczną podróż do Włoch!
                </p>
            </div>
        </div>
        <div class="gallery">
            <img src="/assets/images/pizza.jpeg" width="626" height="417" alt="Event photo 1">
            <img src="/assets/images/kokain.jpeg" alt="Event photo 2">
        </div>
        <div class="koniec">
            <div class="gallery2">
                <img src="/assets/images/povorenok kuzya.jpeg" width="1400" height="714" alt="Even photo 3">
                <div class="offer2">
                    <p>
                        Robimy autentyczną włoską pizzę. Ciasto wyrabiane jest według tradycyjnej sycylijskiej receptury. 
                        Zawsze świeże i wysokiej jakości produkty do pizzy, które wybieram osobiście.
                    </p>
                </div>
                <div class="offer3">
                    <p>
                        Szef kuchni Salvatore
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
